
<IfModule mod_rewrite.c>
    # OTHERS
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    <Files .htaccess>
        Order allow,deny
        Deny from all
    </Files>
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

</IfModule>
